.textocenter{
    text-align: center;
    
}
#formBasicEmail{
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#formBasicPassword{
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.login01{
 background-color: #a79267;   
 padding: 15px 100px 15px 100px;
}
.login02{
    padding: 70px
}